*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header styles */

.header{
    background-image: url('../images/banner/banner2.png');
    width: 1349px;
    height: 749px;
}

.banner{
    padding: 250px 150px;
    float: right;
}

.banner-title{
    font-weight: 700;
    font-size: 45px;
    width: 400px;
    color: #151414;
    margin-bottom: 32px;
    text-align: right;
}

.banner-description{
    font-weight: 400;
    font-size: 13px;
    width: 400px;
    margin-bottom: 38px;
    text-align: right;
}

.banner-button{
    width: 160px;
    height: 64px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    float: right;
}

/* Failures Section style */

.failures{
    display: flex;
}

.failures-img{
    width: 500px;
    height: 650px;
    margin: 130px 100px 130px 160px;
}

.failures-title{
    width: 288px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    margin-top: 369px;
    margin-bottom: 24px;
}

.failures-description{
    width: 416px;
    height: 104px;
    font-size: 16px;
}

.failures-list{
    width: 355px;
    height: 162px;
    font-size: 16px;
}

div.failures-list p{
    padding-bottom: 15px;
}

/* Plans section styles */

.plans-container{
    display: flex;
    gap: 100px;
    margin: 50px 230px 125px 230px;
}

.plans-header{
    text-align: center;
    margin-top: 120px;
}

div.plans-item img{
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.plans-item h3{
    text-align: center;
    font-weight: 700;
    color: #151414;
    margin-top: 18px;
}

div.plans-item p{
    text-align: center;
    color: #737272;
    margin-top: 10px;
}

